{{view Ember.TextField placeholder='Isaiah 40:8' valueBinding='passage' action='lookup'}}

<div class="references">
  {{#each reference in references}}
    <div class="reference">
      {{#linkTo 'reference' reference}}{{reference.title}}{{/linkTo}}
      <button {{action 'deleteReference' reference}}>&times;</button>
    </div>
  {{/each}}
</div>
