<!DOCTYPE html>
<html>
<head>
  <title>Scabbard</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <noscript>
    <%= yield %>
  </noscript>

</body>
</html>
